<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Admin Dashboard</h2>

        <button
            class="btn btn-danger"
            (click)="logout()">
            Logout
        </button>

    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let request of requests">

                <td>{{request.id}}</td>
                <td>{{request.username}}</td>
                <td>{{request.title}}</td>
                <td>{{request.description}}</td>

                <td>

                    <span
                        class="badge"
                        [ngClass]="request.status === 'Resolved'
                        ? 'bg-success'
                        : 'bg-warning text-dark'">

                        {{request.status}}

                    </span>

                </td>

                <td>

                    <button
                        *ngIf="request.status === 'Pending'"
                        class="btn btn-success btn-sm"
                        (click)="resolveRequest(request.id)">

                        Resolve

                    </button>

                    <span
                        *ngIf="request.status === 'Resolved'"
                        class="text-success fw-bold">

                        ✔ Resolved

                    </span>

                </td>

            </tr>

        </tbody>

    </table>

</div>